// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.rs-caption-1 {
  border-top: none;
  border-bottom: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  line-height: 64px;
  font-size: 44px;
  &:after,
  &:before {
    content: "";
  }
}

.rs-caption-2 {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  &:after {
    height: 0;
    width: 0;
  }
}

.rs-caption-3 {
  p {
    color: #fff;
  }
}

.one-page-header {
  .navbar-brand {
    padding: 8px 15px 13px;
  }
}

.log-reg-block.languages {
  a {
    padding: 17px 10px 13px;
  }
  a::before {
    content: "|";
    font-size: 12.5px;
    left: 0;
  }
  a.rus::before {
    content: "";
  }
  .active {
    a {
      color: #72c02c !important;
    }
  }
}

#about {
  background-image: url("../img/about/bg.png");
  background-repeat: no-repeat;
  border-top: none;
  border-bottom: none;

  .title-v1 {
    h1::after, h2::after {
      display: none;
    }
  }
  .content-boxes-in-v3 img{
    margin: 0 auto;
  }

  .about-image {
    padding-top: 113px;

    .parallax-quote {
      background: rgba(0, 0, 0, 0) url("../img/parallax.jpg") repeat fixed 50% 0;
    }
  }
}

#products {
  background-image: url("../img/products/bg.png");
  background-repeat: no-repeat;

  .title-v1.noline {
    h1::after, h2::after {
      display: none;
    }
  }

  .content-lg {
    padding-top: 40px;
  }

  border-bottom: 100px solid #fff;
  border-image: url("../img/products/bg-bottom.png") 100% 0 100% 0;
}

#contact.contacts-section {
  background: #333 url("../img/contacts/bg.jpg") repeat fixed center center / cover ;

  &::before {
    background: none;
  }
  &::after {
    background: none;
    content: none;
  }

  .title-v1 h1::after, .title-v1 h2::after {
    background-color: #fff;
  }

  .sky-form {
    fieldset {
      background: none;
    }
  }

  .sky-form.submited .message {
    background: none;
  }

  .map-class {
    height: 500px;
  }
}

.top-contact-block {
  margin-right: 50px;
}